body{
    background-color: black;
}
.box{
    width: 200px;
    height: 200px;
    background-color: white;
    margin-left: 80px;
    margin-top: 80px;
}
button{
    margin: 80px;
    transition:rotate(30deg);
    transform: rotate();
}