body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.box{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color:red;
}
button{
    margin-left: 100px;
    width: 400px;
    height: 40px;
    font-size: 30px;
    font-style: italic;
    background-color: yellow;
}