*{
    margin: 0;
    padding: 0;
}
body{
     background: lightgreen;
     align-items: center;
}
.x{
    width: 200px;
    height: 200px;
    background: red;
    margin: 100px auto;
    animation: an 4s infinite linear;
    border-radius: 50%;
}
h1{
    text-align: center;
    h1::hover{
        color: brown;
    }
}
.x:hover{
        background-color: aqua;
        transition: all 3s ease-in-out;
}

@keyframes an{
    from{
        transform: rotate(0deg) scaleX(0%);
    }
    to{
        transform: rotate(360deg) scaleY(100%);
    }
}